Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/*
!Content/ThirdPerson/
Content/ThirdPerson/*
!Content/ThirdPerson/Blueprints/

Plugins/Developer/RiderLink

.idea
/Platforms/HoloLens/Config/HoloLensEngine.ini
